{
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "arrowFunctions": true
  },
  "rules": {
    "no-console": 1,
    "quotes": [2, "single"],
    "no-unused-vars": 2
  }
}
